@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway";  
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1, h2, h3 {
    font-family: "Raleway";
    font-weight: bold;
}

h1 {
    font-size: 8rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 4rem;
    letter-spacing: 5;
}

h3 {
    text-align: center;
    padding-bottom: 3%;
}

a, a:visited, a:hover{
    text-decoration: none;
    color: #fff;
}

.section-title {
    font-size: 3rem;
}

/* Nav bar */ 

.header {
    padding: 0;
}

.navbar-brand {
    background-color: #fff;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #2A98FF;
}

.navbar-light .navbar-nav .nav-link {
    color: #2A98FF;
}

/* Download buttons */

.buttons {
    margin-right: 7rem;
}


.download-button {
    margin-top: 2rem;
    margin-right: 1rem; 
}

/* Main section */

.bg-white {
    background-color: #fff;
    color: #2A98FF; 
    padding: 12% 5% 0;
}

.bg-white h2 {
    letter-spacing: 10px;
}

.bg-blue {
    background-color: #2A98FF;
    color: #fff;
    letter-spacing: 10px;
    padding: 2% 5% 15%; 
}

.logo {
    width: 60%;
    padding-left: 15%;
}

@media (max-width: 1000px) {
    #main-page {
        text-align: center;
    }

    .buttons {
        margin: 0 auto;
        text-align: center;
    }

    .download-button {
       margin: 1rem 0.5rem;
    }
}

@media (max-width: 600px) {
    #main-page h1 {
        font-size: 5rem;
    }

    #main-page h2 {
        font-size: 3rem;
    }
}

@media (max-width: 450px) {
    .bg-white { 
        padding: 50% 5% 0;
    }

    .bg-blue {
        padding: 2% 5% 65%; 
    }
    
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
        letter-spacing: 2px;
    }
}

@media (max-width: 400px) {
    #main-page h1 {
        font-size: 4.5rem;
    }

    #main-page h2 {
        font-size: 2.5rem;
        letter-spacing: 5px;
    }
}

@media (max-width: 330px) {
    #main-page h1 {
        font-size: 4.5rem;
    }

    #main-page h2 {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }
}

/* About us section*/

#about-us {
    padding: 5% 20%;
}

@media screen and (max-width: 1024px) {
  #about-us {
    padding: 5% 10%;
  }
}

/* Services Section */

#services {
   background-color: #2A98FF;
   color: #fff;
   padding: 5% 0;
}

#services p {
    text-align: left; 
}

.services-div {
    text-align: center;
    padding: 0 5%;
    margin: 5% 0;
}

.services-icon, .services-icon::before {
    padding: 1.5rem;
}

/* Projects Section */

#projects {
    text-align: center;
    padding: 10% 5%;
}

.projects-img {
    width: 70%!important;
    margin: 5% auto;
    border-radius: 33px;
}

.card h2 {
    font-size: 1.7rem;
    padding-top: 1rem;
    margin: 0;
}

.card p {
    font-size: 1.3rem;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.left-carousel-arrow {
    margin-left: -200px;
}

.right-carousel-arrow {
    margin-right: -200px;
}

@media (max-width: 1440px) {
    .left-carousel-arrow {
        margin-left: -100px;
    }
    
    .right-carousel-arrow {
        margin-right: -100px;
    }
}

@media (max-width: 1300px) {
    .left-carousel-arrow {
        margin-left: -50px;
    }
    
    .right-carousel-arrow {
        margin-right: -50px;
    }
}

@media (max-width: 600px) {
    .left-carousel-arrow {
        margin-left: -30px;
    }
    
    .right-carousel-arrow {
        margin-right: -30px;
    }
}

/* Projects Carousel */

@media (max-width: 700px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 items */

@media (min-width: 700px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

/* Make middle item colored and the rest are gray*/

.carousel-item > div:first-child img,
.carousel-item > div:nth-child(3) img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

/* One colored item under 700px width */

@media (max-width: 700px) {
    .carousel-item > div:first-child img,
    .carousel-item > div:nth-child(3) img {
        -webkit-filter: none; 
        filter: none;
    } 
}

/* Footer */

footer {
    background-color: #2A98FF;
    color: #fff;
}

a.menu-link {
    position: relative;
}

a.menu-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.menu-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

.social-icon {
    padding: 10px;
}

.social-icon:hover {
    transform: scale(1.2);
}

/* Arrow - to the top */

.to-top {
    background: #000000;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }
 
@media (max-width:768px) {
    .to-top {
        height: 40px;
        width: 40px;
    }
}  

.to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
}

.to-top:hover {
    background-color: #D80032;
    transform: scale(1.1);
}


