@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway";  
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1, h2, h3 {
    font-family: "Raleway";
    font-weight: bold;
}

h1 {
    font-size: 8rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 4rem;
    letter-spacing: 5;
}

h3 {
    text-align: center;
    padding-bottom: 3%;
}

a, a:visited, a:hover{
    text-decoration: none;
    color: #fff;
}

/* Nav bar */ 

.header {
    padding: 0;
}

.navbar-brand {
    background-color: #fff;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 1.2rem;
    
}

.navbar-light .navbar-nav .nav-link {
    color: #2A98FF;
}

/* Download buttons */

.buttons {
    margin-right: 7rem;
}


.download-button {
    margin-top: 2rem;
    margin-right: 1rem;
    
}



/* Main section */



.bg-white {
    background-color: #fff;
    color: #2A98FF; 
    padding: 11% 5% 0;
}

.bg-white h2 {
    letter-spacing: 10px;
}

.bg-blue {
    background-color: #2A98FF;
    color: #fff;
    letter-spacing: 10px;
    padding: 2% 5% 14%;
    
}

/* About us */

#about-us {
    margin: 20% 10%;
}



/* Services */

#services p {
    text-align: left;
}

.services-div {
    text-align: center;
    margin: 5% auto;
    padding: 0 5%;
    
}

.services-icon, .services-icon::before {
    padding: 1.5rem;
}

/* Projects Section */

#projects {
    text-align: center;
}

.projects-img {
    width: 50%!important;
    margin: 2% auto;
    border-radius: 33px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}





